.homeMain {
  min-height: 100vh;
  width: 100%;
  position: relative;
  top: 00px;
}
.homeMain > .homeImgBx {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  background-color: black;
  /* align-items: center; */
  justify-content: center;
  /* border: 1px solid red; */
}
.homeMain > .homeImgBx > img {
  object-fit: cover;
}
.homeMain > .homeImgBx > video {
  position: sticky;
  top: 0;
  object-fit: cover;
  height: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-position: 0 00px;
  /* height: inherit; */
  /* border: 1px solid white; */
}

.homeMain > .homeImgBx > .text {
  position: absolute;
  width: 100%;
  height: 85%;
  padding: 40px 0;
  text-align: center;
  color: white;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);

  /* border: 1px solid #fff; */
}

.homeMain > .homeImgBx > .text h1 {
  font-size: 120px;
  /* font-weight: 500; */
  font-weight: 700;
  user-select: none;
  line-height: 0;
}

.homeMain > .homeImgBx > .text h3 {
  /* position: sticky; */
  /* top: 120px; */
  font-size: 30px;
  user-select: none;
  font-weight: 400;
}

/*  */
.homeMain > .homeItemBx {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 20px 0 0 0; */
}

.homeMain > .homeItemBx > .itemText {
  padding: 10px 30px;
  text-align: center;
  /* border: 1px solid black; */
}
.homeMain > .homeItemBx > .itemText > h1 {
  line-height: 10px;
  font-size: 40px;
  font-weight: 500;
  user-select: none;
}
.homeMain > .homeItemBx > .itemText > h3 {
  line-height: 15px;
  font-size: 20px;
  font-weight: 500;
  user-select: none;
  /* color: #2d2d2d; */
}

.homeMain > .homeItemBx > .itemImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.homeMain > .homeItemBx > .itemImg img {
  width: 50%;
}
.homeMain > .homeItemBx:nth-child(3) {
  color: white;
  padding: 30px 0;
  background-color: black;
}

/*  */
.homeMain > .homeGrid {
  min-height: 100vh;
  /* width: 100%; */
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.homeMain > .homeGrid > .homeGridBx {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  /* border: 1px solid blue; */
}

.homeMain > .homeGrid > .homeGridBx:nth-child(3),
.homeMain > .homeGrid > .homeGridBx:nth-child(2) {
  color: white;
  background: black;
}
.homeMain > .homeGrid > .homeGridBx > .gridText {
  text-align: center;
  user-select: none;
  padding: 50px 0 0 0;
  /* border: 1px solid black; */
}
.homeMain > .homeGrid > .homeGridBx > .gridText h1,
.homeMain > .homeGrid > .homeGridBx > .gridText h3 {
  font-weight: 500;
  line-height: 10px;
}

.homeMain > .homeGrid > .homeGridBx img {
  min-width: 50%;
  max-width: 100%;
  height: 440px;
  object-fit: cover;
  /* border: 1px solid red; */
}
/*  */

@media only screen and (max-width: 940px) {
  .homeMain > .homeImgBx {
    height: 60vh;
  }
  .homeMain > .homeImgBx > video {
    object-fit: contain;
    width: 100%;
  }

  .homeMain > .homeImgBx > .text {
    height: 80%;
  }
  .homeMain > .homeImgBx > .text h1 {
    font-size: 45px;
  }
  .homeMain > .homeImgBx > .text h3 {
    font-size: 40px;
  }

  .homeMain > .homeGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .homeMain > .homeGrid > .homeGridBx img {
    object-fit: contain;
    height: auto;
  }

  .homeMain > .homeGrid > .homeGridBx > .gridText h1,
  .homeMain > .homeGrid > .homeGridBx > .gridText h3 {
    font-weight: 500;
    line-height: 20px;
    /* font-size: 20px; */
  }
  .homeMain > .homeGrid > .homeGridBx > .gridText h3 {
    font-size: 12px;
  }
}

/*  */
@media only screen and (max-width: 540px) {
  .homeMain > .homeImgBx > .text {
    height: 75%;
  }
  .homeMain > .homeImgBx {
    height: 50vh;
  }
  .homeMain > .homeImgBx > .text h1 {
    font-size: 30px;
  }
  .homeMain > .homeImgBx > .text h3 {
    font-size: 25px;
  }
  .homeMain > .homeImgBx > video {
    object-position: 0 150px;
  }
}
