.homeMain {
  min-height: 100vh;
  width: 100%;
  position: relative;
  top: 00px;
}
.homeMain > .homeImgBx {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.homeMain > .homeImgBx > img {
  object-fit: cover;
}
.homeMain > .homeImgBx > video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 0 00px;
  /* height: inherit; */
}

.homeMain > .homeImgBx:first-child > .text {
  background: rgba(0, 0, 0, 0.5);
  height: 85%;
}
.homeMain > .homeImgBx > .text {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  padding: 40px 0;
  text-align: center;
  color: white;
  /* border: 1px solid #fff; */
}

.homeMain > .homeImgBx > .text h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 0;
}

.homeMain > .homeImgBx > .text h3 {
  font-size: 30px;
  font-weight: 400;
}

.homeMain > .homeImgBx:nth-child(3) > .text,
.homeMain > .homeImgBx:nth-child(2) > .text {
  position: relative;
  width: 50%;
}

.homeMain > .homeImgBx:nth-child(2) > .text h3,
.homeMain > .homeImgBx:nth-child(2) > .text h1 {
  color: black;
}
