header {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 50px;
  background: #434344;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  /* border: 1px solid white; */
}

header > .Navham {
  position: relative;
  top: 15px;
  left: 10px;
  height: 20px;
  width: 30px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  /* border-top: 2px solid white; */
}
header > .Navham::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  border-bottom: 2px solid white;
}
header > .Navham::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  border-top: 2px solid white;
}
/*  */

header > .icons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  /* border: 1px solid white; */
}

header > .icons > a:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid white; */
}
header > .icons > a:last-child {
  /* background-color: red; */
  /* height: 20px; */
  display: flex;
  align-items: center;
}
header > .icons > a:first-child > img {
  width: 40px;
}
header > .icons > a {
  text-decoration: none;
  color: white;
  /* border: 1px solid white; */
}

header > .icons > a > svg {
  fill: white;
}
/*  */
.headerDropDown {
  position: fixed;
  top: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  height: 0;
  overflow: hidden;
  z-index: 120;
  transition: 0.5s ease;
  /* padding: 0 280px; */
  display: flex;
  z-index: 999;
  justify-content: center;
}

.headerDropDown.active {
  visibility: visible;
  padding: 40px 0;
  height: 450px;
}

.headerDropDown.active > .navList {
  opacity: 1;
}

.headerDropDown > .navList {
  display: flex;
  width: 20%;
  opacity: 0;
  flex-direction: column;
  gap: 10px;
  color: white;
  transition-delay: 0.2s;
  transition: 0.5s ease;
  padding: 10px 20px;
  text-align: start;
  /* border: 1px solid white; */
}

.headerDropDown > .navList > p {
  font-size: 12px;
}

.headerDropDown > .navList:first-child > a {
  font-size: 20px;
  /* line-height: 0; */
  text-decoration: none;
  color: white;
}

.headerDropDown > .navList > a {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
/*  */
.headerDropDown > .cartData {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
  align-items: flex-start;
  /* border: 1px solid #fff; */
}

.headerDropDown > .cartData > .navBox1 {
  display: flex;
  gap: 10px;
  color: white;
  flex-direction: column;
  /* border: 1px solid #fff; */
}
.headerDropDown > .cartData > .navBox1 > .navCard {
  display: flex;
  color: white;
  /* border: 1px solid #fff; */
}
.headerDropDown > .cartData > .navBox1 > .navCard > .navData {
  padding: 5px 20px;
  /* border: 1px solid white; */
}
.headerDropDown > .cartData > .navBox1 > .navCard > .navData h4 {
  line-height: 0;
}
.headerDropDown > .cartData > .navBox1 > .navCard > img {
  width: 15%;
}

.headerDropDown > .cartData > .navBox1 > h3 {
  color: gray;
  font-size: 12px;
}
.headerDropDown > .cartData > .navBox1 > a {
  text-decoration: none;
  text-align: start;
  color: white;
  font-weight: 700;
  font-size: 12px;
  margin: 4px;
}

.headerDropDown > .searchBx {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 70%;
  /* border: 1px solid white; */
}
.headerDropDown > .searchBx > form {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
.headerDropDown > .searchBx > form input {
  padding: 10px 20px;
  width: 100%;
  background: transparent;
  font-size: 25px;
  outline: none;
  color: white;
  border: none;
}
.headerDropDown > .searchBx > form input::placeholder {
  font-weight: 700;
  color: rgb(197, 197, 197);
}
.headerDropDown > .searchBx > .searchOptions {
  text-align: start;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  /* border: 1px solid white; */
}
.headerDropDown > .searchBx > .searchOptions > a {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

/*  */
@media only screen and (max-width: 940px) {
  /*Big smartphones [426px -> 600px]*/
  header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  header.active {
    min-height: 100vh;
    width: 100%;
    gap: 30px;
  }

  header > .icons {
    visibility: hidden;
    width: 0;
    overflow: hidden;
  }
  header.active .icons {
    flex-direction: column;
    gap: 10px;
    text-align: start;
    font-size: 20px;
    width: auto;
    overflow: visible;
    visibility: visible;

    /* border: 1px solid white; */
  }
  header.active > .icons > a {
    width: 100%;
  }
  header > .Navham {
    visibility: visible;
    opacity: 1;
  }
  header.active > .Navham {
    border: none;
  }
  header.active > .Navham::before {
    transform: rotate(-45deg) translateY(-5px) translate(5px);
    border-color: red;
  }
  header.active > .Navham::after {
    transform: rotate(45deg) translateY(5px) translate(5px);
    border-color: red;
  }
  /*  */

  .headerDropDown > .cartData {
    width: 90%;
    padding: 10px;
  }

  .headerDropDown > .cartData > .navBox1 > .navCard > img {
    width: 30%;
  }
  /* .headerDropDown.ac */
  .headerDropDown.active {
    overflow-y: scroll;
    padding: 20px 0;
    flex-direction: column;
    /* border: 1px solid white; */
  }

  .headerDropDown.active > .navList {
    width: 80%;
  }

  /*  */

  .headerDropDown > .searchBx {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
    width: 90%;
    /* border: 1px solid white; */
  }
  .headerDropDown > .searchBx > form input {
    font-size: 20px;
    padding: 10px 5px;
    /* border: 1px solid white; */
  }
  .headerDropDown > .searchBx > form input::placeholder {
    font-size: 20px;
  }
}

/*  */
@media only screen and (max-width: 425px) {
  .headerDropDown > .cartData > .navBox1 > .navCard {
    flex-direction: column;
  }
  .headerDropDown > .cartData > .navBox1 > .navCard {
    border-bottom: 1px solid #fff;
  }
  .headerDropDown > .cartData > .navBox1 > .navCard > img {
    width: 50%;
  }
}
